<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="
  		http://www.springframework.org/schema/beans
  		http://www.springframework.org/schema/beans/spring-beans.xsd
  		http://www.springframework.org/schema/context
  		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop  
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
		http://www.springframework.org/schema/tx  
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	    default-autowire="byName">
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">25000</prop>
				<prop key="mail.smtp.host">${mail.smtp.host}</prop>
			</props>
		</property>
		<property name="username"><value>${mail.username}</value></property>
		<property name="password"><value>${mail.password}</value></property>
	</bean>
	
	<bean id="mailSenderService" class="com.itech.ups.app.components.message.mail.MailSenderServiceImp">
    	<property name="fromMail"><value>${mail.username}</value></property>
    </bean>
    
    <!--②异步线程执行器--> 
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" destroy-method="shutdown">
	  <property name="corePoolSize" value="10" />
	  <property name="maxPoolSize" value="30" />
	  <property name="queueCapacity" value="50" />
	</bean>
</beans>

