<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
	    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xmlns:mvc="http://www.springframework.org/schema/mvc"
	    xmlns:context="http://www.springframework.org/schema/context"
	    xsi:schemaLocation="http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	<mvc:annotation-driven />
	<!-- Handles HTTP GET requests for /resource/** by efficiently serving  up static resource in the ${webappRoot}/resources/ directory -->
	<mvc:resources mapping="/assets/**"  location="/assets/" cache-period="3600" />
	<mvc:resources mapping="/upload/**"  location="/upload/" cache-period="3600" />
	
	<context:property-placeholder ignore-unresolvable="true" location="classpath*:config/*.properties"/>
	
	<!-- The controllers are autodetected POJOs labeled with the @Controller  annotation. -->
	<context:component-scan base-package="com.itech.ups" use-default-filters="false" name-generator="com.itech.ups.base.web.bean.ActionDefaultAnnotationBeanNameGenerator">
		<context:include-filter expression="org.springframework.stereotype.Controller" type="annotation" />
	</context:component-scan>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.itech.ups.base.web.interceptor.VisitInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/business/**"/>
			<mvc:mapping path="/stats/**"/>
			<mvc:mapping path="/system/**"/>
			<bean class="com.itech.ups.base.web.interceptor.SecurityInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
		
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="defaultContentType" value="application/json" />
		<property name="mediaTypes">
			<map>
				<entry key="html" value="application/x-www-form-urlencoded" />
				<entry key="json" value="application/json" />
				<entry key="xml" value="application/xml" />
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />
				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="prefix" value="/webpage/" />
					<property name="suffix" value=".jsp" />
				</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" />
			</list>
		</property>
	</bean>

	<!-- allows for integration of file upload functionality -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="2048000000" />
		<property name="maxInMemorySize" value="4096" />
	</bean>
   	
   	<!--<bean id="facadeMonitoringAdvisor" class="net.bull.javamelody.MonitoringSpringAdvisor">
		<property name="pointcut">
			<bean class="org.springframework.aop.support.JdkRegexpMethodPointcut">
				<property name="patterns">
					<array>
						<value>com.itech.ups.*.*</value>
					</array>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="springDataSourceBeanPostProcessor" class="net.bull.javamelody.SpringDataSourceBeanPostProcessor">
	</bean>

	<bean id="wrappedDataSource" class="net.bull.javamelody.SpringDataSourceFactoryBean">
		<property name="targetName" value="dataSource" />
	</bean>-->
</beans>
